@tailwind base;
@tailwind components;
@tailwind utilities;

pre {
white-space: pre-wrap; /* Ensures text wrapping for very long lines */
overflow-x: auto;      /* Adds horizontal scroll for overflow content */
}

@media (max-width: 768px) {
    pre, code {
        font-size: 0.5rem; /* Smaller font size for mobile devices */
    }
}
h2, p , h1, h3, h4, li{
    font-family: "Roboto Condensed", sans-serif;
}

a {
    font-family: "JetBrains Mono", sans-serif;
}
